/* Neon btn */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    
  }
  
  .logo {
    font-size: 24px; /* Tamaño apropiado para un título en una barra de navegación */
    margin: 0; /* Elimina el margen predeterminado para evitar saltos de línea */
    color: #fff; /* Cambia el color de texto según tus preferencias */
   
  }
  
  .links {
    display: flex;
    gap: 20px; /* Espacio entre los botones de enlace */
  }
  
  .btnNeon {
    display: inline-block;
    background-color: rgba(70, 70, 70, 0.25);
    box-shadow: none;
    color: #565656;
    text-shadow: 0 0 0px transparent;
    font-size: 16px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    padding: 5px 10px;
    line-height: normal;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
  }
  
  .btnNeon:hover,
  .btnNeon:active, /* Agrega un estilo para cuando el botón está activo (clicado) */
  .btnNeon:focus {
    border: 2px solid #97ce4c;
    color: #97ce4c;
    text-shadow: 0 0 4px #97ce4c;
    box-shadow: inset 0 0 6px #97ce4c, 0 0 6px #97ce4c;
  }
  .active {
    border: 2px solid #97ce4c !important;
    color: #97ce4c !important;
    text-shadow: 0 0 4px #97ce4c !important;
    box-shadow: inset 0 0 6px #97ce4c, 0 0 6px #97ce4c !important;
  }
  
  
  /* Estilos para hacerlo responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .links {
      margin-top: 10px; /* Espacio entre los botones y el SearchBar en dispositivos móviles */
    }
  }
  